<%- include('../header') %>
<form method="POST" action="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>">
    <div class="form-group">
        <label for="Titulo">TÍtulo</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="<%= publicacao.titulo %>" />
    </div>
    <div class="form-group">
        <label for="conteudo">Conteúdo</label>
        <textarea  class="form-control" name="conteudo" id="conteudo"><%= publicacao.conteudo %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<%- include('../footer') %>